html {
  height: 100%!important;
}
body {
  height: 100%!important;
}
section {
  height: 100%!important;
}
.login-div {
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: url('../images/background-login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10006;
}
.login-form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.login-logo {
  height: 89px;
  width: 190px;
  margin: auto;
  margin-top: 20px;
  background-image: url('../images/logo-nubity.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.login-box {
  background-color: white;
  border: solid 1px #ccc;
  border-radius: 8px;
  position: absolute;
  top: 15%;
}
.signup-box {
  background-color: white;
  border: solid 1px #ccc;
  border-radius: 8px;
  position: absolute;
  top: 5%;
}
.login-title {
  text-align: left;
  font-weight: bold;
  font-size: 25px;
  font-family: 'neosansregular';
  margin: 0px;
}
.login-subtitle {
  text-align: left;
  font-size: 15px;
  font-family: 'neosansregular';
  margin-top: 15px;
}
.link-login {
  line-height: 40px;
  color: #2d8ccf;
}
.login-button {
  background-color: #50c00a;
  border: solid 0px transparent;
  border-radius: 5px;
  color: white;
  font-family: 'neosansregular';
  padding: 6px;
}
.google-button {
  background-color: #db0720;
  border: solid 0px transparent;
  border-radius: 5px;
  color: white;
  font-family: 'neosansregular';
  padding: 6px;
}
.login-p {
  display: inline;
  color: grey;
}
.login-p-navbar {
  display: inline;
  color: white;
}
.top-div {
  text-align: right;
  margin-top: 20px;
}
.top-div-navbar {
  text-align: right;
  margin-right: 20px;
}
.go-to-signup {
  background-color: #2d8ccf;
  color: white;
  border: solid 0px transparent;
  border-radius: 3px;
  padding: 10px;
  margin-left: 10px;
}
.signup-subtitle {
  text-align: left;
  font-size: 15px;
  font-family: 'neosansregular';
}

@media (max-width: 1200px) { 
  .modal-content {
    width: 100%!important;
  }
}
