@font-face {
    font-family: 'neosansregular';
    src: url('../fonts/neosans-webfont.woff2') format('woff2'),
         url('../fonts/neosans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosansbold';
    src: url('../fonts/neosans-black-webfont.woff2') format('woff2'),
         url('../fonts/neosans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosansbold_italic';
    src: url('../fonts/neosans-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/neosans-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosansbold';
    src: url('../fonts/neosans-bold-webfont.woff2') format('woff2'),
         url('../fonts/neosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosansbold_italic';
    src: url('../fonts/neosans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/neosans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosansitalic';
    src: url('../fonts/neosans-italic-webfont.woff2') format('woff2'),
         url('../fonts/neosans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosanslight';
    src: url('../fonts/neosans-light-webfont.woff2') format('woff2'),
         url('../fonts/neosans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosansitalic';
    src: url('../fonts/neosans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/neosans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosansmedium';
    src: url('../fonts/neosans-medium-webfont.woff2') format('woff2'),
         url('../fonts/neosans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosansitalic';
    src: url('../fonts/neosans-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/neosans-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
