dev:
  SSH_key: ../server-key.ppk
  host: 'deploy@127.0.0.1:22'
  baseURL: 'http://api.pricing.nubity.com'
prod:
  SSH_key: ../server-key.ppk
  host: 'deploy@127.0.0.1:22'
  baseURL: 'https://api.nubity.com'
