html, body, section {
  height: 100%;
}
body {
  height: 100%;
  background: #f2f2f2!important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'neosansregular', sans-serif;
  font-weight: 300;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #9e9e9e;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  color: #58595b;
  transition: all 0.3s ease-in;
}
/*Neo Sans Font*/
@font-face {
    font-family: 'neosansregular';
    src: url('../fonts/neosans-webfont.woff2') format('woff2'),
         url('../fonts/neosans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosansbold';
    src: url('../fonts/neosans-black-webfont.woff2') format('woff2'),
         url('../fonts/neosans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosansbold_italic';
    src: url('../fonts/neosans-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/neosans-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosansbold';
    src: url('../fonts/neosans-bold-webfont.woff2') format('woff2'),
         url('../fonts/neosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosansbold_italic';
    src: url('../fonts/neosans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/neosans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosansitalic';
    src: url('../fonts/neosans-italic-webfont.woff2') format('woff2'),
         url('../fonts/neosans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosanslight';
    src: url('../fonts/neosans-light-webfont.woff2') format('woff2'),
         url('../fonts/neosans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosansitalic';
    src: url('../fonts/neosans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/neosans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosansmedium';
    src: url('../fonts/neosans-medium-webfont.woff2') format('woff2'),
         url('../fonts/neosans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neosansitalic';
    src: url('../fonts/neosans-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/neosans-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Font Helpers*/
.neosansregular {
    font-family: 'neosansregular' !important;
}
.neosansbold {
    font-family: 'neosansbold' !important;
}
.neosanslight {
    font-family: 'neosanslight' !important;
}
/*App styles*/
#nubityApp {
  height: 100%;
}
.nubity-app {
  height: 100%;
}
.left-align {
  text-align: left;
  padding: 15px;
}
.modal-dialog {
  margin: auto;
  margin-top: 20px;
  width: 80%!important;
  height: auto;
}
.modal-title {
  overflow: hidden;
  height: 41px;
}
.modal-content {
  margin: auto;
  margin-top: 20px;
  width: 80%!important;
  height: auto;
}
.modal-body {
  margin: auto;
  width: 100%!important;
  height: 100%!important;
  overflow: auto;
}
.modal-close {
  width: 14px;
  height: 14px;
  border-radius: 50px;
  border: none;
  color: #fff;
  background-color: #d4d4d4;
}
.modal-close:hover {
  background-color: #adadad;
}
.modal-close span {
  position: relative;
  left: -3px;
  top: -4px;
}
.menu-tab-content {
  height: calc(100% - 50px);
  overflow: auto;
}
.footer {
  width: 100%;
  height: 20px;
  position: fixed;
  bottom: 0;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: #eee;
  text-align: center;
}
.navbar {
  margin: 0!important;
  border-radius: 0!important;
  border-bottom: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #5a5a5d;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  z-index: 1041;
  height: 45px;
}
.navbar {
  border: 0px solid transparent!important;
}
.nav-brand {
  width: auto;
  height: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 20px;
}
.navbar .nav > li {
  border: solid 1px transparent!important;
  font-size: 11px;
  color: white!important;
  font-weight: bold;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}
.nav > li > a {
  color: white;
  padding-top: 5px!important;
}
.pagination>li>a, .pagination>li>span {
  border: none !important;
  background-color: transparent;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>li>a:hover {
  border-radius: 50%;
}
.pagination>.active>a, .pagination>.active>a:focus {
  background-color: #2d8ccf;
}
.white-color {
  color: white!important;
}
.dropdown-menu-nb {
  background-color:transparent !important;
  border:none !important;
  color:white !important;
  padding:0 10px !important;
  font-family:'neosansregular' !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}
.dropdown-menu-nb:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.btn-group.open .dropdown-toggle, .btn-group.open:active .dropdown-toggle:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent!important;
}
.user-photo {
  background: #e8faff;
  height: 30px;
  width: 30px;
  margin: 0 10px;
}
.navbar-right {
  padding-top: 7px!important;
  float: right !important;
}
.notification-badge {
  width: 18px;
  height: 18px;
  background-color: #0fe80c;
  position: absolute;
  border-radius: 50%;
  font-size: 11pt;
  color: white;
  line-height: 1.3;
  left: 21px;
  top: -6px;
  text-align: center;
}
.alert-badge {
  width: 18px;
  height: 18px;
  background-color: #db0720;
  position: absolute;
  border-radius: 50%;
  font-size: 8pt;
  color: white;
  line-height: 1.8;
  left: 57px;
  top: -6px;
  font-family: 'neosanslight', sans-serif;
}
.up-li {
  margin-top: -5px;
  display: inline-block !important;
}
.up-li.last {
  margin-right: 30px;
}
.profile-picture-li {
  margin-right: -9px;
  margin-left: 15px;
}
.notification-button {
  width: 30px;
  height: 30px;
  border-radius: 50px!important;
  margin-top: 6px;
  margin-right: 7px;
}
#sidebar {
  width: 100px!important;
  height: calc(100% - 20px)!important;
  padding-top:30px;
  background-color: #eee;
  position:fixed;
  top: 0;
  box-shadow: 1px 0px 3px #ccc;
}
.menu-buttons {
  margin-top: 20px;
  height: 70%;
  width: 100px;
}
.menu-button {
  width: 100px;
  height: 75px;
  text-align: center;
  position: relative;
  padding-top: 5px;
}
a.nb-active, a.nb-active p.menu-text {
  color: #fff !important;
  position: relative !important;
}
a.nb-active > .menu-button {
  background-color: grey;
}
.menu-text {
  text-align: center;
  color: grey;
  font-family: 'neosanslight', sans-serif;
  line-height: 1;
  font-size: 12px;
}
p.menu-text {
  margin: 0 0 5px;
}
.menu-icon {
  color: #9e9e9e;
  font-size: 25px!important;
}
.action-button, a.action-button {
  padding: .45em 1.4em;
  font-size: 10pt;
  font-family: 'neosanslight', sans-serif;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .30em;
  cursor: pointer;
  border: none;
}
.action-button:hover, a.action-button:hover {
  filter: brightness(110%);
}
.action-button.config {
  border-radius: .30em 0 0 .30em;
  padding-right: .5em;
}
.action-button.config-right {
  border-radius: 0 .30em .30em 0;
  padding-left: .5em;
  padding-right: .5em;
}
button.action-button {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14pt;
  padding: 10px 60px;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
button.action-button:hover {
  transition: .2s ease-out;
  box-shadow: 0 2px 6px rgba(0,0,0,0.14), 0 1px 12px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.2);
  filter: brightness(110%);
}
.action-button-start {
  color: white;
  background-color: red;
  border: solid 1px red;
  padding: .35em 1.3em;
}
.action-button-stop {
  color: #ccc;
  background-color: white;
  border: solid 1px #ccc;
  padding: .35em 1.3em;
  cursor: no-drop;
}
.action-button-disabled {
  font-size: 10pt;
  font-family: 'neosanslight', sans-serif;
  line-height: 1;
  text-align: center;
  color: #ccc;
  background-color: white;
  padding: .35em 1em;
}
.action-instance {
  display: inline-block;
}
.action-icon {
  margin: 3px;
  cursor: pointer;
  font-size: 14pt;
}
.action-icon.disabled {
  color: #ccc;
  cursor: default;
}
.warn-message {
  font-family: 'neosanslight', sans-serif;
  font-size: 12pt;
  padding: 50px 70px;
}
.warn-message .action-button {
  margin-left: 10px;
}
.no-button {
  cursor: no-drop;
}
.social-links {
  width: 100px;
  text-align: center;
  position: absolute;
  bottom: 0%;
}
.social-icon {
  color: grey;
  font-size: 15px!important;
  cursor: pointer;
}
.principal-section {
  height: calc(100% - 90px);
  width: calc(100% - 100px);
  margin-left: 100px;
  margin-top: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
}
.principal-section-loggedout {
  margin-top: 100px;
  margin-left: 30px;
}
.section-title {
  height: 75px;
  background-color: white;
  margin-bottom: 30px;
  padding-top: 16px;
}
.section-title .item {
  font-family: 'Open Sans', sans-serif;
  padding: 28px 30px;
  border-right: 1px solid #e2e2e2;
  color: #9e9e9e;
  position: relative;
  top: 2px
}
.section-title .item.title {
  font-family: 'neosansregular', sans-serif;
  padding: 25px 30px;
  font-size: 18pt;
  color: #58595b;
  position: relative;
  top: 5px;
}
.section-title .item:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}
.section-tabs {
  height: 41px;
  margin-left: 31px;
  margin-right: 30px;
  border-right-color: white;
  border-left-color: white;
  border-top-color: white;
  display: flex;
}
.section-content {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  padding: 20px 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.section-content #pluginMonitoring {
  background-color: white;
  box-shadow: 0px 3px 14px #c3c3c3;
}
/*Tickets*/
.ticket-container {
  width: 80%;
  height: auto !important;
  height: 100%;
  background-color: white;
  position: relative;
  margin: auto;
  padding: 15px 0 300px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 3px 14px #c3c3c3;
}
.ticket-header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #cecece;
}
.ticket-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  text-transform: Initial;
  line-height: 50%;
}
.ticket-body {
  padding: 15px;
  white-space: pre-wrap;
}
.ticket-body .ticket-attachment {
  width: auto;
  padding: 10px 0;
  color: #2d8ccf;
  cursor: pointer;
}
.ticket-footer {
  width: 100%;
  height: 50px;
  padding: 15px 0;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}
.ticket-footer .right {
  float: right;
  position: relative;
  top: -7px;
}
.ticket-date, .ticket-user-info {
  display: inline-block;
}
.ticket-replies-container {
  width: calc(100% - 15px);
  height: 100%;
  margin-left: 15px;
}
.ticket-replies-container .ticket-reply {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  border-left: 1px solid #cecece;
  margin-top: 15px;
}
.ticket-replies-container .ticket-reply.add-reply {
  height: 235px;
}
.ticket-replies-container .ticket-reply.add-reply textarea {
  border: none !important;
  resize: none;
}
.ticket-reply-header {
  height: 50px;
  padding: 15px 0;
  border-bottom: 1px solid #cecece;
}
.ticket-id-name {
  color: #2d8ccf;
  cursor: pointer;
}
.big-green-circle {
  color: #00cc00;
  font-size: 30px!important;
  padding-left: 10px;
  padding-right: 10px;
}
.big-red-circle {
  color: red;
  font-size: 30px!important;
  padding-left: 10px;
  padding-right: 10px;
}
.round-number {
  display: inline-block;
  height: 26px;
  width: 26px;
  color: white;
  background-color: #407fb5;
  border-radius: 50px;
  font-weight: bold;
  margin: 10px 10px 0px 30px;
}
.number-1 {
  padding: 4px 5px 6px 10px;
}
.number-2 {
  padding: 4px 5px 6px 8px;
}
.public-cloud-form {
  padding-left: 30px!important;
  padding-top: 10px;
}
.public-cloud-button {
  border-radius: 0!important;
  border: solid 0px transparent!important;
  padding: 3px 15px!important;
  margin: 5px!important;
}
.aws-text {
  color: grey;
  font-size: 17px;
  text-align: center;
}
.play-tutorial {
  font-size: 70px!important;
  color: #407fb5;
}
.public-cloud-selector-div {
  height: 100px;
}
.clouds-icons-button {
  text-align: center;
  cursor: pointer;
}
.clouds-icons {
  height: 66px;
  width: 66px;
  margin:auto;
}
.grey-background {
  background-color: #ddd!important;
  color: #fff!important;
}
.grey-background:hover {
  background-color: #aaa!important;
}
.no-shadow {
  box-shadow: 0 0 0 0 #f8f8f8!important;
  -webkit-box-shadow: 0 0 0 0 #f8f8f8!important;
}
.grey-color {
  color: grey!important;
}
.wrapp {
  height: calc(100% - 0px);
}
.height-100 {
  height: 100%;
}
.width-100 {
  width: 100%;
}
.align-center {
  text-align: center;
}
.right-aligned {
  text-align: right;
}
.transparent-button {
  background: transparent;
  border: solid 0px transparent;
}
.centered {
  text-align: center;
}
#onBoarding1StepContent {
  min-height: 250px!important;
}
.dashboard-icons {
  height: 130px;
  width: auto;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  font-family: 'neosansregular', sans-serif;
  color: white;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 0;
  position: relative;
  box-shadow: 0 5px 5px #ccc;
}
.dashboard-icons:hover {
  filter: brightness(110%);
  transition: all 0.3s ease-in-out;
}
.dashboard-icons .left, .dashboard-icons .right {
  display: inline-block;
  position: relative;
}
.dashboard-icons .left {
  bottom: 32px;
  right: 15%;
  color: rgba(255,255,255,0.5);
  font-size: 117pt;
}
.dashboard-icons .right {
  bottom: 73%;
  right: 55px;
  text-align: left;
}
.dashboard-icons.first {
  background-color: #2d8ccf;
}
.dashboard-icons.second {
  background-color: #ffc524;
}
.dashboard-icons.third {
  background-color: #db0720;
}
.dashboard-icons-counter {
  font-size: 30pt;
}
.invisible {
  color:transparent;
}
.grey-color {
  color: #9E9E9E;
}
.light-grey-color {
  color: #888585;
}
.margin-sides {
  margin-left: 30px!important;
  margin-right: 30px!important;
}
.margin-tops {
  margin-top: 30px!important;
  margin-bottom: 30px!important;
}
.right-div {
  background-color: #eee;
  height: 300px;
  margin-bottom: 30px;
  text-align: center;
}
.inside-div {
  background-color: #ddd;
  height: 240px!important;
  margin-bottom: 5px;
  padding: 30px!important;
}
.title-div {
  height: 50px!important;
}
.select-margin {
  margin-bottom: 20px;
}
.green-button {
  background-color: #50c00a;
  border: solid 0px transparent;
  border-radius: 2px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 3px 25px;
}
.blue-button {
  background-color: #2d8ccf;
  color: white;
  border: solid 0px transparent;
  padding: 5px 16px;
  border-radius: 2px;
}
.large-green-button {
  background-color: #50c00a;
  border: solid 0px transparent;
  border-radius: 2px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 3px 93px;
  font-size: 17px;
  margin: 30px;
}
/*Widget*/
.widget {
  padding: 10px;
  height: 350px;
  font-family: 'neosanslight', sans-serif;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 0 5px 5px #ccc;
}
.create {
  background-color: #eaeaea;
}
.widget-p {
  line-height: 70px;
  color: grey;
  text-align: center;
  font-size: 14pt;
  margin-bottom: 10px;
}
.widget select.form-control {
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  border: 1px solid white;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.min-height-subsection {
  min-height: 360px;
}
.section-height {
  height: calc(100% - 70px);
  margin-top: 50px;
  overflow: scroll;
}
.button-shadow {
  -webkit-box-shadow: 0px 0px 25px -1px rgba(76,102,86,0.6);
  -moz-box-shadow: 0px 0px 25px -1px rgba(76,102,86,0.6);
  box-shadow: 0px 0px 25px -1px rgba(76,102,86,0.6);
}
.chat-div {
  min-height: 250px!important;
  border: solid 1px #ddd;
  border-radius: 9px;
}
.phone-button {
  font-size: 25px!important;
  color: #aaa;
}
.file-button {
  font-size: 20px!important;
  margin-bottom: 3px;
  position: absolute;
  top: 2px;
  left: 71px;
  color: #aaa;
}
.chain-button {
  color: #aaa;
  position: absolute;
  left: 101px;
  font-size: 20px!important;
  top: 2px;
}
.message-chat {
  height: 30px;
  width: 96%;
  border: solid 1px #d5d5d5;
  color: #aaa;
  position: absolute;
  bottom: 8px;
  border-radius: 3px;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
}
.black-smile {
  font-size: 20px!important;
  color: #777;
}
.infrastructure-performance-div {
  background-color: #ccc;
  height: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
/*Start monitoring*/
ol {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font: 15px 'neosansregular', sans-serif;
  padding: 0;
  margin-bottom: 4em;
}
ol.rounded-list {
  margin-left: 20px;
}
.rounded-list p.rounded-list-title {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .5em 0;
  color: #fff;
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out;
}
.rounded-list p.rounded-list-title:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #2d8ccf;
  height: 2.4em;
  width: 2.4em;
  line-height: 1.9em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}
.rounded-list p.rounded-list-title span {
  color: #444;
}
.rounded-list li input {
  width: 80%;
  border: 1px solid #cecece;
  border-radius: 3px;
}
.rounded-list li .notice {
  font-size: 10pt;
}
#loading-message {
  margin-top: 35px;
}
.red-icon {
  color: red;
  font-size: 16px!important;
  padding-left: 9px;
}
.green-icon {
  color: #5cb85c;;
  font-size: 16px!important;
  padding-left: 9px;
}
.input-icon {
  width: 14px!important;
}
.clicked {
  color: #d5d5d5!important;
}
.clouds-icons {
  background: url('../images/sprites.png');
  display: inline-block;
  background-size: 1415px 483px;
  background-repeat: no-repeat;
}
.aws {
  background-position: 0px 0px;
  width: 47px;
  height: 42px;
  margin-top: 15px;
}
.softlayer {
  background-position: -8px -154px;
  width: 31px;
  height: 34px;
  margin-top: 23px;
}
.rackspace {
  height: 44px;
  width: 40px;
  margin-top: 13px;
  background-position: -3px -45px;
}
.azure {
  background-position: -6px -103px;
  width: 35px;
  height: 35px;
  margin-top: 22px;
}
.iplan {
  background-position: -177px -149px;
  width: 52px;
  height: 34px;
  margin-top: 23px;
}
.oncloud {
  background-position: -91px -153px;
  width: 77px;
  height: 29px;
  margin-top: 28px;
}
.hiper-v {
  width: 67px;
  height: 27px;
  background-position: -1322px -416px;
  margin-top: 30px;
}
.vmware {
  width: 66px;
  height: 12px;
  background-position: -1324px -453px;
  margin-top: 45px;
}
.open-stack {
  width: 44px;
  height: 47px;
  background-position: -1314px -286px;
  margin-top: 10px;
}
.cloud-stack {
  width: 81px;
  height: 21px;
  background-position: -1226px -440px;
  margin-top: 36px;
}
.xen-server {
  width: 69px;
  height: 30px;
  background-position: -1316px -377px;
  margin-top: 27px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  height: 100%!important;
  color: #2d8ccf !important;
  background-color: transparent;
  border: 3px solid transparent;
  border-bottom-color: #2d8ccf;
}
.nav-tabs > li > a {
  height: 100%!important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14pt;
}
.nav-tabs > li {
  height: calc(100% + 1px)!important;
  flex-grow: 1;
  text-align: center;
  background-color: transparent;
}
.navbar .nav > li.tab-link {
  border: none !important;
  font-family: 'neosanslight';
}
.navbar .nav > li.active.tab-link > a {
  color: #2d8ccf !important;
}
.onboarding-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 9px;
  margin-left: 10px;
  border: none;
  color: #fff !important;
  font-size: 27pt;
}
.onboarding-button:hover {
  color: #ccc !important;
}
.onboarding-button i {
  position: relative;
  left: -22px;
  bottom: 7px;
}
.text-stopped {
  color: #aaa;
}
.status-container {
  position: relative;
  width: 28px;
  height: auto;
  margin: auto;
}
.sprites {
  background-image: url('../images/sprites.png');
  background-size: 1415px 483px;
  background-repeat: no-repeat;
}
.small, small {
  font-size: 85%;
}
.os {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 74%;
  background-color: white;
  border: 1px solid #f2f2f2;
}
.os i {
  position: absolute;
  right: 1px;
  top: -1px;
  font-size: 13px;
}
.sprites.os-ubuntu.small {
  width: 11px;
  height: 11px;
  background-position: -254px -111px;
}
.sprites.os-centos.small {
  width: 13px;
  height: 10px;
  background-position: -243px -65px;
}
.sprites.os-redhat.small {
  width: 10px;
  height: 10px;
  background-position: -245px -17px;
}
.sprites.os-debian.small {
  width: 9px;
  height: 9px;
  background-position: -78px -217px;
}
.sprites.os-windows.small {
  width: 12px;
  height: 12px;
  background-position: -120px -113px;
}
.billing {
  font-size: 17px!important;
}
.sales {
  float: left;
  padding-right: 23px;
  background-position: -279px -102px;
  width: 19px;
  height: 25px;
}
.btn-plus-circle {
  height: 45px;
  width: 45px;
  color:white;
  background-color: #00cc00;
  border-radius: 50%;
  border: solid 0 transparent;
  font-weight: bold;
  font-size: 24px;
}
.my-account-data {
  font-family: 'neosansregular', sans-serif;
  margin: 8px 20px 0;
}
.my-account-title {
  font-size: 20px;
  margin-bottom: 0px;
}
.my-account-email {
  font-family: 'neosanslight', sans-serif;
}
.padding-left{
  padding-left: 15px!important;
}
.account-checkbox {
  position: absolute!important;
  top: 0;
  left: 27px;
}
.light-grey-background {
  background-color: #ddd!important;
}
.icon-margin {
  margin: 3px;
}
/*Element helpers*/
.hide-it {
  visibility: hidden !important;
}
.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.min {
  width: 100%;
  height: 20px;
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.med {
  width: 100%;
  height: 50px;
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.gra {
  width: 100%;
  height: 100px;
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/*Icon helpers*/
.tiny {
  font-size: 1rem !important;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
}
.small {
  font-size: 2rem !important;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  position: relative;
  bottom: -2px;
}
.icon-state {
  font-size: 3rem;
  vertical-align: middle;
  position: relative;
  bottom: -4px;
}
.icon-state.reset {
  bottom: -2px !important;
}
.medium {
  font-size: 4rem !important;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  position: relative;
  bottom: -6px;
}
.large {
  font-size: 8rem !important;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  position: relative;
  bottom: -10px;
}
.x-large {
  font-size: 12rem !important;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  position: relative;
  bottom: -23px;
}
/*Text color Helpers*/
.white-text {
  color: white !important;
}
.black-text {
  color: black !important;
}
.grey-text {
  color: #9e9e9e !important;
}
.dark-grey-text {
  color: #636363 !important;
}
.red-text {
  color: #db0720 !important;
}
.green-text {
  color: #43a306 !important;
}
.yellow-text {
  color: #ffc524 !important;
}
.blue-text {
  color: #2d8ccf !important;
}
/*Color helpers*/
.nubity-white {
  background-color: white !important;
}
.nubity-black {
  background-color: black !important;
}
.nubity-grey {
  background-color: #9e9e9e !important;
}
.nubity-dark-grey {
  background-color: #636363 !important;
}
.nubity-red {
  background-color: #db0720 !important;
}
.nubity-green {
  background-color: #43a306 !important;
}
.nubity-yellow {
  background-color: #ffc524 !important;
}
.nubity-blue {
  background-color: #2d8ccf !important;
}
/*Table style*/
table, th, td {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 9pt;
}
table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 3px 14px #c3c3c3;
  margin-bottom: 10px;
  background-color: #fff;
}
th.column-icon {
  width: 70px;
}
th.column-button {
  width: 135px;
}
th, td {
  border-collapse: collapse;
  vertical-align: middle;
  height: 60px;
}
th.fix {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1040;
}
td {
  text-align: center;
  padding-left: 7px;
  word-break: break-word;
}
td.icons {
  text-align: center;
  padding-left: 0;
}
th {
  text-align: center;
  color: #888888;
  padding: 0 10px;
  font-size: 12pt;
}
tr.content {
  border-bottom: 1px solid #eaeaea;
}
tr.content:hover {
  background-color: #f2f2f2;
}
/*Placeholders*/
.empty-table {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 25px;
}
/*HighCharts Fix*/
.highcharts-title {
  font-family: 'neosanslight', sans-serif;
  font-size: 14pt;
  margin-bottom: 10px;
}
.highcharts-legend-item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.highcharts-credits {
  display: none;
}
.highcharts-root {
  height: 300px;
}
.hichart-main-container {
  width: 100%;
}
.highcharts-container {
  width: 100%!important;
  height: 300px!important;
}
#container2, #container1 {
  height: 300px;
}
/*Media Queries*/
@media screen and (max-width: 1440px) {
  .large-section-tabs .section-tabs {
    height: 75px;
  }
}
@media screen and (max-width: 1024px) {
  .section-content {
    margin: 0 !important;
    border: none;
  }
  .large-section-tabs .section-tabs {
    height: 95px;
  }
  .section-tabs {
    margin-left: 5px !important;
  }
  th {
    font-size: 12pt;
  }
  .icon-state {
    font-size: 2.5rem;
  }
  .ticket-footer {
    height: 65px;
  }
}
@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: -64px;
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .principal-section {
    width: 100%;
    margin-left: 0;
  }
  .principal-section-loggedout {
    margin-left: 0;
  }
  #sidebar {
    width: 100% !important;
    height: 80px !important;
    padding-top: 0;
    position: fixed;
    top: initial;
    bottom: 0;
    z-index: 3;
    box-shadow: 0px -1px 3px #ccc;
  }
  .menu-buttons {
    width: 100%;
    position: relative;
    left: 25%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-button {
    width: 75px;
    display: inline-block;
  }
  .menu-button.last {
    right: 0;
  }
  .menu-text {
    line-height: 1;
    font-size: 8pt;
  }
  .social-links {
    display: none;
  }
  .alert-badge {
    left: 42px;
  }
  .section-tabs {
    margin: 0 !important;
  }
  .large-section-tabs .section-tabs {
    height: 50px;
  }
  .dashboard-icons .left {
    font-size: 100pt;
  }
  .dashboard-icons .right {
    bottom: 50%;
    right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .navbar-right {
    position: relative;
    top: -58px;
  }
  .up-li.last {
    margin-right: 10px;
  }
  .light-grey-background {
    padding: 4px 10px;
  }
  .light-grey-background h3 {
    margin: 0;
  }
  .modal-dialog, .modal-content {
    margin: 0 !important;
    width: 100% !important;
  }
  .modal.fade.in {
    padding-left: 0 !important;
  }
  .login-box {
    top: 0 !important;
  }
}
@media screen and (max-width: 425px) {
  .principal-section {
    height: calc(100% - 130px);
  }
  .menu-buttons {
    left: 5%;
  }
  .menu-button {
    width: 75px;
  }
  .dashboard-icons-info {
    font-size: 8pt;
  }
  .ticket-container {
    width: 100%;
  }
}
@media screen and (max-width: 375px){
  .menu-buttons {
    left: 0;
  }
  .menu-button {
    width: 70px;
  }
  .login-logo {
    width: 250px !important;
  }
  .ticket-date, .ticket-user-info, .ticket-reply-header {
    font-size: 9pt;
  }
}
@media screen and (max-width: 320px){
  .principal-section {
    height: calc(100% - 118px);
  }
  #sidebar {
    height: 68px !important;
  }
  .menu-buttons {
    margin-top: 10px;
  }
  .menu-button {
    width: 64px;
  }
  .menu-text {
    display: none;
  }
}
@media screen and (max-height: 580px) {
  .social-links {
    display: none;
    visibility: hidden;
  }
}
/*Login*/
.login-div {
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: url(../images/background-login-new.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 10006;
  color: white;
}
.login-form {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  max-width: 450px;
}
.login-form > .form-group > .input-group > .input-group-addon {
  background-color: #2b2b2b;
  color: #9b9b9b;
  border: none;
}
.login-form > .form-group > .input-group > input.form-control {
  background-color: rgba(255, 255, 255, 0.3);
  background-image: none;
  border: none;
  color: white;
}
.login-form > .form-group > .input-group > input.form-control::-webkit-input-placeholder {
  color: #ccc;
}
.login-form > .form-group > .input-group > input.form-control::-moz-placeholder {
  color: #ccc;
}
.login-form > .form-group > .input-group > input.form-control:-moz-placeholder {
  color: #ccc;
}
.login-form > .form-group > .input-group > input.form-control:-ms-input-placeholder {
  color: #ccc;
}
.login-logo {
  height: 124px;
  width: 313px;
  margin: auto;
  margin-top: 20px;
  background-image: url('../images/logo-nubity-w.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.login-box {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.signup-box {
  background-color: white;
  border: solid 1px #ccc;
  border-radius: 8px;
  position: absolute;
  top: 5%;
}
.login-title {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-family: 'neosansregular';
  margin: 0px;
}
.login-subtitle {
  text-align: left;
  font-size: 15px;
  font-family: 'neosansregular';
  margin-top: 15px;
}
.link-login {
  line-height: 40px;
  color: #2d8ccf;
}
a.link-login:hover {
  color: #b7b7b7;
}
.login-button {
  background-color: #50c00a;
  border: solid 0px transparent;
  border-radius: 5px;
  color: white;
  font-family: 'neosansregular';
  padding: 6px;
}
.google-button {
  background-color: #db0720;
  border: solid 0px transparent;
  border-radius: 5px;
  color: white;
  font-family: 'neosansregular';
  padding: 6px;
}
.login-p {
  display: inline;
  color: #ccc;
  margin-right: 10px;
}
.login-p-navbar {
  display: inline;
  color: white;
}
.login-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.top-div {
  text-align: right;
  padding-top: 20px;
}
.top-div-navbar {
  text-align: right;
  margin-right: 20px;
}
.go-to-signup {
  background-color: #2d8ccf;
  color: white;
  border: solid 0px transparent;
  border-radius: 3px;
  padding: 10px;
  margin-left: 10px;
}
.signup-subtitle {
  text-align: left;
  font-size: 15px;
  font-family: 'neosansregular';
}
.verification-logo {
  padding: 40px 0;
}
.verification-logo img {
  width: 250px;
}
.verification-legend {
  font-family: 'neosanslight', sans-serif;
  font-size: 16pt;
  border-bottom: 1px solid #e2e2e2;
  padding: 10px;
}
.verification-icon {
  padding: 50px;
}
.login-load {
  position: relative;
  margin: 35px 50%;
}
@media (max-width: 1468px) {
  .modal-content {
    width: 100%!important;
  }
}
/*Preloader*/
.loader, .loader-mini, .loader-medium {
  color: #979797;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader {
  font-size: 10px;
  margin: 100px auto;
  position: relative;
}
.loader-mini {
  font-size: 4px;
  margin: -9px -25px;
  position: relative;
}
.loader-medium {
  font-size: 6px;
  position: absolute;
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
/*Toggle switch*/
.rc-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 44px;
  height: 22px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 20px 20px;
  border: 1px solid #ccc;
  background-color: #ccc;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-switch-inner {
  color: #fff;
  font-size: 12px;
  position: absolute;
  left: 24px;
}
.rc-switch:after {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 2px;
  top: 1px;
  border-radius: 50% 50%;
  background-color: #fff;
  content: " ";
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
          animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-name: rcSwitchOff;
          animation-name: rcSwitchOff;
}
.rc-switch:hover:after {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-animation-name: rcSwitchOn;
          animation-name: rcSwitchOn;
}
.rc-switch:focus {
  box-shadow: 0 0 0 2px #d5f1fd;
  outline: none;
}
.rc-switch-checked {
  border: 1px solid #87d068;
  background-color: #87d068;
}
.rc-switch-checked .rc-switch-inner {
  left: 6px;
}
.rc-switch-checked:after {
  left: 22px;
}
.rc-switch-disabled {
  cursor: no-drop;
  background: #ccc;
  border-color: #ccc;
}
.rc-switch-disabled:after {
  background: #9e9e9e;
  -webkit-animation-name: none;
          animation-name: none;
  cursor: no-drop;
}
.rc-switch-disabled:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation-name: none;
          animation-name: none;
}
.rc-switch-label {
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
  padding-left: 10px;
  vertical-align: middle;
  white-space: normal;
  pointer-events: none;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
@-webkit-keyframes rcSwitchOn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes rcSwitchOn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@-webkit-keyframes rcSwitchOff {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes rcSwitchOff {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*Carousel*/
.carousel-container {
  margin:30px;
}
.carousel-control {
  background: transparent!important;
}
.carousel-box {
  float: none;
  align-items: center;
  display: inline-block;
  justify-content: center;
  width: 66.66666667%;
  margin-left: 16.66666667%;
  text-align: center;
}
.carousel-item {
  width: 25%;
  display: inline-block;
  padding: 10px;
}
.thumbnail {
  min-height: 82px;
}
.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.valign-wrapper .valign {
  display: block;
}
.allHeight {
  height: 300px;
  width: 100%;
}
.alert-margin {
  margin-left: 15px;
  margin-right: 15px;
}
.configure-icon {
  font-size: 19px;
  padding: 5px;
}
.carousel-active {
  border: 2.5px solid #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.is-installed {
  content: '';
  width: 8px;
  height: 8px;
  display: inherit;
  border-radius: 100%;
  background: #05fb05;
  text-align: center;
  margin: auto;
}
.is-installed-container {
  width: 100%;
  height: 10px;
}

.signup-error-show {
  width: 50%;
  margin: 0px auto;
  text-align: left;
}
.integration {
  display: block;
  width: 100%;
  height: 100%;
}
.integration .provider-logo {
  width: 25%;
  float: left;
  height: 100%;
  display: inline-table;
}
.integration .credential-name {
  width: 75%;
  float: left;
  height: 100%;
  text-align: left !important;
  display: inline-table;
}
.label-inline {
  vertical-align: middle;
  display: table-cell;
}
.logo-max-size {
  max-width: 50px;
  max-height: 50px;
}
.default-logo-size {
  font-size: 30px;
}
.open-modal-graph {
  background: transparent;
  border: solid transparent;
  font-size: 19px;
  color: grey;
  outline: none;
}
.clippy {
  margin-top: -3px;
  position: relative;
  top: 3px;
}
.clipboard-button {
  position: relative;
  display: inline-block;
  padding: 4px 12px 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc,#eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}
.clipboard-div {
  margin-top: -11px;
  margin-bottom: 11px;
}
.first-step {
  padding: 15px;
}
.change-avatar {
  height: 100%;
  width: 80%;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #ccc;
  z-index: -99999;
  top: 0;
  padding-right: 15px;
  opacity: 0.5;
  background: rgba(74, 72, 72, 0.33);
}
.change-avatar .cam-icon {
  font-size: 25px;
  margin-top: 31px;
  margin-left: 17px;
  color: rgba(8, 8, 8, 0.8);
  cursor: pointer;
}
.enable-change-option:hover .change-avatar {
  z-index: 0;
  transition: opacity 0.5s;
}
.change-avatar input[type=file] {
  display: block;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
.avatar-slected {
  display: block;
  position: absolute;
  margin-top: 74px;
  color: rgba(15, 53, 80, 0.91);
  font-style: italic;
}
.inline {
  display: inline;
}
.dropzone {
  margin-top: 30px;
  padding: 10px;
  width: 100%;
  height: 200px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
  overflow: hidden;
}
.dropzone p {
  font-size: 15px;
  line-height: 1.42857143;
  color: #555;
  font-family: inherit;
}
.attachmentFile {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background: white;
  border: solid 1.7px grey;
  border-radius: 2px;
  padding-top: 3px;
}
.pdfPreview {
  height: 120px!important;
  width: 90px;
}
.attachmentFile i {
  font-size: 19px;
}
.attachments-link {
  color: #2d8ccf;
  cursor: pointer;
  display: inline;
  margin-right: 10px;
}
